/* Remove the default styling from the body element. */
body{
    margin: 0;
    padding: 0;
}


/* Making the header a flex container with the company name on the
left side and the sidebar (internal links) on the left side. */
.header {
    display: flex;
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #F9FAF8;
    justify-content: space-between;
    padding: 16px 48px 0px;
}

/* the sidebar will be the three internal links. */
/* added this code to directly change the styling of the list element. */
.sidebar ul {
    display: flex;
    gap: 24px; 
    margin: 0;
    padding: 0;
}

/* Remove the default styling for unordered lists. */
ul {
    list-style-type: none;
}

/* Remove the default styling for links. */
a {
    text-decoration: none;
    color: inherit;
}

/* this is added so the link still changes color when a user hovers
the cursor over it. Change pink. */
a:hover,
a:focus {
    color:pink;
}

/* make the main container into a flexbox so that it can be split into
the four different sections (upper-text, middle-pictures, middle-quote,
and bottom email.
 */

 .main-container {
    display: flex;
 }