/* Remove the default styling from the body element. */
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Making the header a flex container with the company name on the
left side and the sidebar (internal links) on the left side. */
.header {
    display: flex;
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #F9FAF8;
    justify-content: space-between;
    /* first number moves header away from top of the screen. second number is for
    left and right. Third number pushes hero text down. */
    padding: 16px 100px 50px;
    font-size: 24px;
    align-items: center;
    flex-shrink: 0;
}

/* the sidebar will be the three internal links. */
/* added this code to directly change the styling of the list element. */
.sidebar ul {
    display: flex;
    gap: 24px; 
    margin: 0;
    font-size: 16px;
}

/* Remove the default styling for unordered lists. */
ul {
    list-style-type: none;
}

/* Remove the default styling for links. */
a {
    text-decoration: none;
    color: inherit;
}

/* this is added so the link still changes color when a user hovers
the cursor over it. Change pink. */
a:hover,
a:focus {
    color:pink;
}

/* make the main container into a flexbox so that it can be split into
the four different sections (upper-text, middle-pictures, middle-quote,
and bottom email. */

 .main-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
 }

 /* made the .upper-text container a flexbox so that the image and write can be side
 by side. */
 .upper-text {
    background-color: #1f2937;
    display: flex;
    gap: 24px;
    padding: 0 100px 75px;
    align-items: center;
 }

 /* format upper hero text. */
 .upper-text-hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
 }

 /* format upper hero text in paragraph. */
 .upper-text-paragraph{
    font-size: 18px;
    color: #e5e7eb;
 }

 /* format button */
 button{
    background-color: #3882f6;
    color: #F9FAF8;
    /* set width of button so it appears correctly. */
    width: 100px;
 }

 .signup-button {
    border: none;
    /* border radius slightly curves edges of the button. */
    border-radius: 5px;
 }

 /* make hero text a flexbox so that it can be formatted properly. */
 .upper-text-words {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
 }

 /* format image so that it is responsive and stetches to fill space provided by the
 parent container. */
 .upper-text-picture img {
    width: 100%;
    height: auto;
    display: block;
    flex-grow: 1;
    max-height: 500px;
 }

 .middle-pictures {
    display: flex;
    justify-content: space-around;
    padding: 0px 100px 0px;
    align-items: center;
 }

 .middle-links-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 50px 0px 50px;
 }

 .middle-links-text-parent{
    display: flex;
    justify-content: center;
 }

.spotify-image,
.github-image,
.instagram-image,
.soundcloud-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    gap: 16px;
    font-style: italic;
    padding-bottom: 50px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 32px 0px 16px;
}

.quote-text{
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    font-size: 36px;
    width: 600px;
}

.quote-attribution {
 padding-left: 406px;
 padding-top: 16px;
 font-weight: 900;
}

.footer {
    margin-top: 24px;
}

.email-container{
   display: flex;
   border: #F9FAF8;
   border-width: 500px;
   background-color: #3882f6;
   color: #F9FAF8;
}